*.o
dht-example
dht-example.id
*.cache/
Makefile.in
Makefile
stamp-h1
aclocal.m4
configure
config.h
config.h.in~
Makefile.in
config.log
config.status
install-sh
btdht.pc
config.guess
config.sub
m4/
version.m4
depcomp
libtool
ltmain.sh
libbtdht-*.tar.gz
